html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #555;
  font-size: 14px;
  font-family: PingFang;
}

.login_box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}

.row {
  margin: 0;
  padding: 0;
}

.col-md-6 {
  padding: 0;
  margin: 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: normal;
  color: #999;
}

input:focus {
  border-radius: 4px;
  border: 1px solid #0070ff;
}

.login_box_left {
  height: 100%;
}

.login_box_right {
  height: 100%;
}

.bg_img {
  /* width: 100%; */
  /* height: 100%; */
  background-size: cover;
}

.logo_box {
  margin: 36px 0 110px 0;
  padding-left: 36px;
  height: 55px;
  width: 100%;
}

.logo_img {
  height: 42px;
  width: 124px;
}

.login_box_content {
  width: 360px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.login_box_content_tilte {
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 28px;
  color: #00285e;
  margin-bottom: 20px;
}

.input_box {
  color: #999999;
  position: relative;
}

.error_msg {
  height: 20px;
}

.input_css {
  padding-left: 42px;
  line-height: 42px;
  font-size: 14px;
  width: 360px;
  height: 42px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-size: 14px;
  color: #bbbbbb;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 14px;
  color: #bbbbbb;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 14px;
  color: #bbbbbb;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 14px;
  color: #bbbbbb;
}

.user_img {
  position: absolute;
  bottom: 33px;
  left: 15px;
  width: 16px;
}

#code_img {
  border-radius: 5px;
}

.login_button {
  margin-top: 30px;
  background-image: linear-gradient(180deg, #0070ff 0%, #004194 98%);
  border-radius: 6px;
  height: 42px;
  width: 360px;
  color: #fff;
  font-size: 16px;
  line-height: 42px;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
}

.errorMessage_color {
  color: #ff5f5c;
  padding-left: 55px;
  font-size: 13px;
  line-height: 20px;
}

.img_rem {
  width: 14px;
  height: 14px;
}
