.share_box {
  padding: 36px 48px;
}

.search_box {
  height: 48px;
  margin-bottom: 36px;
}

.input_box {
  width: 680px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #ececec;
  border-radius: 4px;
  padding-left: 15px;
  float: left;
}

.search_btn_box {
  width: 56px;
  height: 48px;
  transform: scaleX(-1);
  border: none;
  background: #0070ff;
  border-radius: 3px 0 0 3px;
  float: left;
  margin-left: -3px;
}

.share_container_box {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  min-height: 200px;
}

.share_container_box_top {
  height: 82px;
  line-height: 82px;
  border-bottom: 1px solid #ececec;
  padding-left: 36px;
  position: relative;
}

.add_btn {
  float: right;
  background: #0070ff;
  border-radius: 4px;
  width: 138px;
  height: 42px;
  line-height: 42px;
  color: #fff;
  position: absolute;
  right: 36px;
  top: 50%;
  transform: translateY(-50%);
}

.share_container_box_top_name {
  font-size: 20px;
  color: #333333;
  font-weight: 500;
}

.share_container_box_bom {
  padding: 0 36px;
}

.share_container_box_bom_item {
  cursor: pointer;
  border-bottom: 1px solid #ececec;
  height: 155px;
  padding: 24px 0;
}

.share_container_box_bom_item_name {
  font-size: 20px;
  color: #0070ff;
}

.share_container_box_bom_item_describe {
  font-size: 14px;
  color: #666666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 12px;
}

.tag_box {
  height: 28px;
  line-height: 28px;
}

.span_item {
  border: 1px solid #0070ff;
  border-radius: 4px;
  height: 28px;
  width: 75px;
}

.btn_more {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  color: #0070ff;
  background: #ffffff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  margin: 24px 0;
}

.btn_more:focus {
  outline: none;
  outline-offset: 0px;
  border: none;
}

.tag_item {
  line-height: 28px;
  text-align: center;
  float: left;
  width: 75px;
  height: 28px;
  border: 1px solid #0070ff;
  border-radius: 4px;
  color: #0070ff;
}

.tag_box_name {
  margin-left: 48px;
  font-size: 14px;
  color: #666666;
}

.tag_box_time {
  margin-left: 48px;
  font-size: 14px;
  color: #666666;
}

.img_icon {
  width: 16px;
  margin-right: 5px;
}

.tag_box_look {
  float: right;
  margin-right: 36px;
}

.tag_box_comment {
  float: right;
  margin-right: 36px;
}
